{% extends 'base.html' %}
{% block content %}


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Signal</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Live Signal</li>
            </ol>
            {% include 'main.html' %}
            
            <div class="card mb-4">
                <div class="row">
                    <div class="card-header col">
                        <i class="fas fa-signal mr-1"></i>
                        Live Signal
                    </div>
                    <div class="card-header col">
                        <div class="row  justify-content-md-center">
                            <div class="col-md-4">
                                <i class="fas fa-flag mr-1"></i>
                                Total Symbols
                            </div>
                            <div class="col-md-4">
                                {{ stock_symbols }}
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Stock Symbol</th>
                                    <th>Recommendation</th>
                                    <th>Time</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="background-color:{{ color }};">
                                    <td>{{stock_symbols}}</td>
                                    <td>{{Recommendation}}</td>
                                    <td>{{time}}</td>

                                    <td><button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"
                                                aria-hidden="true"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </main>
    {% endblock content %}